ul, lii{list-style:none;margin:0;padding:0}
img{border:none}


#DB_etc12 {position:relative;width: 634px; height:160px; overflow:hidden;}
#DB_etc12 .DB_motion{position:relative}

#DB_etc12 .DB_motion .DB_obj1{position:absolute;left: 0px; top: 15px; }
#DB_etc12 .DB_motion .DB_obj2{position:absolute;left: 121px; top: 0px}
#DB_etc12 .DB_motion .DB_obj3{position:absolute;left: 246px; top: 3px}
#DB_etc12 .DB_motion .DB_obj4{position:absolute;left: 377px; top: 6px}
#DB_etc12 .DB_motion .DB_obj5{position:absolute;left: 498px; top: 11px}